<configuration debug="false" scan="false" scanPeriod="60 seconds">

    <appender name="common" class="ch.qos.logback.core.FileAppender">
        <file>common.log</file>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="error" class="ch.qos.logback.core.FileAppender">
        <file>error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="common"/>
        <appender-ref ref="error"/>
    </root>

</configuration>
